<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        input{
            border: none;
            outline: none;
            font-weight: bold;
            text-align: left;
        }
        th{
            margin: 0;
            padding: 0;
            text-align: left;
        }

    </style>
</head>

<body>
<table>
    <thead>
    <tr>
        <th th:text="#{admin.allusers.username}"></th>
        <th th:text="#{admin.allusers.first.name}"></th>
        <th th:text="#{admin.allusers.last.name}"></th>
        <th th:text="#{admin.allusers.role}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="users : ${allUsers}">
        <form name="form">

            <th><label><input name="userName" th:value="${users.userName}" readonly></label></th>

            <!----------------------------------------->
            <th th:if="${type} == 'hidden'"><label><input name="firstName" th:value="${users.firstName}"  readonly></label></th>
            <th th:if="${type} == 'hidden'"><label><input name="lastName" th:value="${users.lastName}"  readonly></label></th>
            <!----------------------------------------->
            <th th:if="${type} == 'NotHidden'"><label><input name="firstNameUkr" th:value="${users.firstNameUkr}"  readonly></label></th>
            <th th:if="${type} == 'NotHidden'"><label><input name="lastNameUkr" th:value="${users.lastNameUkr}"  readonly></label></th>
            <!----------------------------------------->

            <th><label><input name="role" th:value="${users.role}"  readonly></label></th>


            <th><button id="update" onclick="form.action='/admin/allusers/update';" th:text="#{admin.update}"></button></th>
            <th><button id="delete" onclick="form.action='/admin/allusers/delete';" th:text="#{admin.delete}"></button></th>
        </form>
    </tr>
    </tbody>
</table>




</body>
</html>