<html lang="en" xmlns:form="http://www.w3.org/1999/html"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form modelAttribute="cityFrom" action="/users/getroute">

        <div th:if="${type} == 'hidden'">
            <label>
                <input  type="text" name="stationFrom">
            </label>
            <label>
                <input type="text" name="stationTo">
            </label>
        </div>

        <div th:if="${type} == 'NotHidden'">
            <label >
                <input type="text" name="stationFromUkr">
            </label>
            <label>
                <input type="text" name="stationToUkr">
            </label>
        </div>

        <button type="submit" th:text="#{find.route}"></button>
    </form>
</body>
</html>