<html lang="en" xmlns:form="http://www.w3.org/1999/html"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form modelAttribute="cityFrom" action="/users/getroute">

        <div th:if="${type} == 'hidden'">
            <label>
                <input  type="text" name="stationFrom" required >
            </label>
            <label>
                <input type="text" name="stationTo" required>
            </label>
        </div>

        <div th:if="${type} == 'NotHidden'">
            <label >
                <input type="text" name="stationFromUkr" required>
            </label>
            <label>
                <input type="text" name="stationToUkr" required>
            </label>
        </div>

        <label>
            <input type="date" name="dateU">
        </label>

        <button type="submit" th:text="#{find.route}"></button>
    </form>
</body>
</html>