<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<!--xmlns:th="http://www.thymeleaf.org"-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2 id="lan" th:text="#{login.initial}"></h2>

    <div th:if="${logout}">
        <div class="alert alert-info" role="alert" >You`ve logged out <span modelattribute="username" th:text="${username}"></span></div>
    </div>
    <div th:if="${error}">
        <div class="alert alert-danger" role="alert">Invalid userName or password</div>
    </div>
    <form  method="post" >

        <label>
            <input type="text"  name="username" class="form-control" placeholder="Username">
        </label>
        <label>
            <input type="password" name="password" class="form-control" placeholder="Password">
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>

    </form>
    <br>
    <form action="/registration">
        <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign in</button>
    </form>

    <button id="en">EN</button>
    <button id="ukr">UA</button>



</div>

<script type="text/javascript" src="/js/login.js" ></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    var alertt = [[${alert}]]
    if(alertt === 1){
        swal({
            icon:"success",
            text:"successfully sig in"
        });
    }
</script>
</body>
</html>
