<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/users/findroute">

        <h2 modelattribute="username" th:text="${username}"></h2>
        <h2 modelattribute="userrole" th:text="${userrole}"></h2>
        <button type="submit" th:text="#{find.route}"></button>
    </form>
    <form action="/logout">
        <button type="submit" th:text="#{logout.button}"></button>
    </form>
</body>
</html>